/* go top button */
#goTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 2147483644;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: #89cd4b;
  color: white;
  cursor: pointer;
  /* top right bottom left*/
  padding: 10px 12px 13px 12px;
  border-radius: 30%;
}

#goTopBtn:hover {
  background-color: #89cd4b;
}
.scrollContainer {
  position: fixed;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  bottom: 100px;
  background: transparent;
  font-size: 25px;
}

#scrollIndicator,
#scrollIndicator:hover {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
#scrollIndicator {
  animation: bounce 1s infinite alternate;

  -webkit-animation: bounce 1s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@media screen and (max-width: 950px) {
  .scrollContainer {
    bottom: 160px;
  }
}
.fb_dialog.fb_dialog_advanced {
  left: 18pt;
  z-index: 50;
  margin-left: 50px;
}
