/* navbar full width */
.nav-link {
  color: #f6fbffc2 !important;
}
/*  */
.navbar.fixed-top {
  -webkit-font-smoothing: antialiased;
  padding: 0px 0px 0px 0px;
}
body {
  padding-top: 0px;
}

.carousel-item {
  height: 75vh;
  min-height: 100px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media screen and (max-width: 995px) {
  .carousel-item {
    height: 45vh;
  }
}
.portfolio-item {
  margin-bottom: 30px;
}

/* used for the slideshow animation illusion */

.slideElement {
  display: none;
}
.animationImage {
  width: 100%;
  /* height: 800px; */
}
/* navbar company name font */
.navbar-brand {
  font-family: "Lobster";
  font-size: 27px;
  color: black;
}

/* make navbar translucent when scrolling */
.navbar,
.dropdown-menu {
  height: 80px;
  background-color: transparent;
  border: none;
  color: white;
  z-index: 100;
  transition: background-color 1s ease 0s;
}
.navbar.solid {
  background-color: #89cd4b;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
}

.navbar-collapse {
  padding-left: 40px;
  width: 100%;
  background-color: #0a6d8677;
  transition: background-color 1s ease 0s;
}
.navbar-collapse.solid {
  background-color: #89cd4b;
  transition: background-color 1s ease 0s;
}

/* go top button */
#goTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 99;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: #89cd4b;
  color: white;
  cursor: pointer;
  /* top right bottom left*/
  padding: 10px 12px 13px 12px;
  border-radius: 30%;
}

#goTopBtn:hover {
  background-color: #89cd4b;
}
/* contact cards */
.contact-card {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

.contact-card h6 {
  font-family: "Courier New", Courier, monospace;
  color: grey;

  padding-top: 1em;
}
.contact-card {
  font-weight: bold;
}
.contact-card a {
  color: black;
  text-decoration: underline;
  -webkit-text-decoration-line: underline;
}

.fb_dialog.fb_dialog_advanced {
  left: 18pt;
  z-index: 50;
  margin-left: 50px;
}

/* animation text */
.text-animation {
  position: relative;
  top: 0;
}

/* flip card */

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.image-flip {
  margin-bottom: 200px;
  /* width: 20px; */
  height: 150px;
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}

.frontside {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
}

.backside {
  background: #8acd4bbe;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card,
.card-img-top {
  border-radius: 0;
}
