/* parallax */
/* used for the slideshow animation illusion */
.parallax {
  /* The image used */ /* The image used */
  background-image: url("../images/about/fundalnou-01.svg");
  /* Set a specific height */ /* Set a specific height */
  min-height: 800px;
  min-width: 100%;
  /* Create the parallax scrolling effect */ /* Create the parallax scrolling effect */
  background-attachment: fixed;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#about {
  height: 800px;
  width: 100%;
}
@media screen and (max-width: 828px) {
  .parallax {
    z-index: -1;
    position: fixed;
    top: 0;

    background-image: url("../images/mobile/about.svg");
    min-height: 820px;
    background-color: #89cd4b;
    background-size: 100%;
    background-attachment: fixed;
  }
  #about {
    height: 580px;
  }
}
/* navbar full width */
.nav-link {
  color: white !important;
  font-size: 19px;
}
/* navbar x button */
#navbar-close {
  color: white;
  width: 30px;
  height: 30px;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
/* map full width */
.wideContainer {
  padding-left: 0px;
  padding-right: 0px;
}
/* align center the texts */
.row {
  text-align: center;
  margin: 0 auto;
}
.row .col-xs-6 {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.sectionContainer {
  padding-top: 80px;
}
/* links on offers */
/* get offer container styling */

.offer {
  background-image: url("../images/seamless.jpg");
  background-size: 200px 200px;
  background-repeat: repeat;
  background-attachment: fixed;

  width: 100%;
}
.offer .container {
  background-color: #07070617;
}
.offer a {
  color: white;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  -webkit-text-decoration-line: none;
}
.offer .title {
  color: white;
}
.media {
  display: inline-block;
  vertical-align: middle;
  float: none;
  width: 25%;
}
/*  */
.navbar.fixed-top {
  -webkit-font-smoothing: antialiased;
  padding: 0px 0px 0px 0px;
}
body {
  padding-top: 0px;
}
.container {
  text-align: center;
}
.title {
  font-family: "Lobster";
}
/* responsive about slideshow */
.carousel-item {
  height: 80vh;
  min-height: 100px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media screen and (max-width: 995px) {
  .carousel-item {
    height: 45vh;
  }
}
.portfolio-item {
  margin-bottom: 30px;
}

/* used for the slideshow animation illusion */

.slideElement {
  display: none;
}
.animationImage {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 800px; */
}
/* animation text */
#text-animation {
  animation-duration: 3s;
  animation-name: slidein;
  position: absolute;
  top: 55px;
  left: 27.5%;
  width: 65%;
}
@keyframes slidein {
  from {
    top: -30px;
  }
  to {
    top: 50px;
  }
}
@media screen and (min-width: 990px) {
  #text-animation {
    animation-duration: 3s;
    animation-name: slidein;
    position: absolute;
    left: 27%;
    width: 45%;
  }
}
/* navbar company name font */
.navbar-brand {
  font-family: "Lobster";
  font-size: 30px;
  color: black;
}

/* make navbar solid when scrolling */
.navbar,
.dropdown-menu {
  height: 80px;
  background-color: transparent;
  border: none;
  color: white;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  z-index: 100;
  transition: background-color 1s ease 0s;
}

.navbar.solid {
  background-color: #89cd4b;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
}

.navbar-collapse {
  padding-left: 40px;
  width: 100%;
  background-color: #0a6d8649;
  transition: background-color 1s ease 0s;
}
.navbar-collapse.solid {
  background-color: #89cd4b;
  transition: background-color 1s ease 0s;
}

/* go top button */
#goTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 99;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: #89cd4b;
  color: white;
  cursor: pointer;
  /* top right bottom left*/
  padding: 10px 12px 13px 12px;
  border-radius: 30%;
}

#goTopBtn:hover {
  background-color: #89cd4b;
}
/* contact cards */
.contact-card {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

.contact-card h6 {
  font-family: "Courier New", Courier, monospace;
  color: grey;

  padding-top: 1em;
}
.contact-card {
  font-weight: bold;
}
.contact-card a {
  color: black;
  text-decoration: underline;
  -webkit-text-decoration-line: underline;
}

.fb_dialog.fb_dialog_advanced {
  left: 18pt;
  z-index: 50;
  margin-left: 50px;
}

/* flip card */

.image-flip:hover .backside,
.image-flip.hover .backside,
.image-flip.animate .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.image-flip:hover .frontside,
.image-flip.hover .frontside,
.image-flip.animate .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.image-flip {
  margin-bottom: 10px;
  width: 360px;
  height: 360px;
}

/* make products cards scale with size */
/* tablet */
@media screen and (min-width: 450px) and (max-width: 769px) {
  .image-flip {
    width: 210px;
    height: 210px;
  }
}
/* mobile l */
@media screen and (min-width: 425px) and (max-width: 450px) {
  .image-flip {
    width: 197px;
    height: 197px;
  }
}
/* mobile m.2 */
@media screen and (min-width: 414px) and (max-width: 425px) {
  .image-flip {
    width: 192px;
    height: 192px;
  }
}
@media screen and (min-width: 376px) and (max-width: 410px) {
  .image-flip {
    width: 175px;
    height: 175px;
  }
}
/* mobile m */
@media screen and (min-width: 321px) and (max-width: 360px) {
  .image-flip {
    width: 165px;
    height: 165px;
  }
}

/* mobile m */
@media screen and (min-width: 361px) and (max-width: 376px) {
  .image-flip {
    width: 172px;
    height: 172px;
  }
}
/* mobile s */
@media screen and (min-width: 319px) and (max-width: 321px) {
  .image-flip {
    width: 145px;
    height: 145px;
  }
}
/* mobile xs */
@media screen and (max-width: 319px) {
  .image-flip {
    width: 260px;
    height: 260px;
  }
}
.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}

.frontside {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
}

.backside {
  background: #8acd4bbe;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card,
.card-img-top {
  border-radius: 0;
}
