/* links on offers */
/* get offer container styling */

.offer {
  background-image: url("../images/seamless.jpg");
  background-size: 200px 200px;
  background-repeat: repeat;
  width: 100%;
}
.offer .container {
  background-color: #07070617;
}
.offer a {
  color: white;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  -webkit-text-decoration-line: none;
}
.offer .title {
  color: white;
}
.media {
  display: inline-block;
  vertical-align: middle;
  float: none;
  width: 25%;
}
